@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
    margin: 0px;
    padding: 0px;
}

.bg {
    background-image: url("banner.png");

    height: 550px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-bottom {
    background-image: url("banner2.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p.heading {
    font-family: Uni Sans;
    font-size: 48px;
    color: white;
    font-weight: 900;
    text-align: center;
}

p.heading2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 200;
    color: white;
    text-align: center;
}

p.heading3 {
    font-family: Uni Sans;
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: 100px;
}

p.heading4 {
    font-family: Uni Sans;
    font-size: 28px;
    font-weight: 600;
    color: #ffd54f;
    text-align: center;
    margin-top: 20px;
}

p.h1 {
    font-family: Uni Sans;
    font-size: 30px;
    font-weight: 600;
    color: #424242;
    text-align: center;
}

p.photo-text {
    font-family: Uni Sans;
    font-weight: 600;
    color: #424242;
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.buttons {
    text-align: center;
}

.photo-pads {
    margin-bottom: -25px !important;
    margin-top: -25px !important;
}


@media (min-width: 992px) {
    .bg {
        height: 650px;
    }

    p.heading {
        font-family: Uni Sans;
        font-size: 56px;
        color: white;
        font-weight: 900;
        text-align: right;
        margin-right: -40px;
    }

    p.heading2 {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 200;
        color: white;
        text-align: right;
        margin-top: -30px;
        margin-right: -40px;
    }

    p.heading3 {
        font-family: Uni Sans;
        font-size: 40px;
        font-weight: 600;
        color: white;
        text-align: right;
        margin-top: 200px;
        margin-right: -40px;
    }

    p.heading4 {
        font-family: Uni Sans;
        font-size: 40px;
        font-weight: 600;
        color: #ffd54f;
        text-align: center;
        margin-top: 20px;
    }

    p.h1 {
        font-family: Uni Sans;
        font-size: 30px;
        font-weight: 600;
        color: #424242;
        text-align: left;
    }

    p.photo-text {
        font-size: 40px;
        text-align: center;
    }

    .buttons {
        text-align: right;
        margin-top: 30px;
        margin-right: -40px;
    }

    .photo-pads {
        padding-left: 50px;
        padding-right: 50px;
    }
}
